<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
    <p>
      Please click <a href="<%= @url %>">here</a> to reset your password.
    </p>
    <p>
      If you're not expecting this email you can disregard it.
    </p>
  </body>
</html>
