<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
    <p>
      This is a reminder that your username is <%= @user.name %>.
    </p>
    <p>
      If you're not expecting this email you can disregard it.
    </p>
  </body>
</html>