<% if edit_comment?(@comment) %>
  <h1>Editing comment for <%= @character.name %></h1>

  <%= render :partial => 'form' %>

  <%= link_to 'Show', character_comment_path(@character, @comment) %>
  <%= link_to 'Back', character_comments_path(@character) %>
<% else %>
  <% flash[:notice] = "You can't edit this comment" %>
<% end %>
