<table class='list'>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Territory</th>
    <th></th>
  </tr>

  <% @cliques.each do |clique| %>
    <tr>
      <td><%= link_to image_tag("edit.png"), edit_chronicle_clique_path(clique.chronicle, clique) if can? :edit, clique %></td>
      <td><%= link_to clique.name, chronicle_clique_path(clique.chronicle, clique) if clique.chronicle%></td>
      <td><%= clique.territory %></td>
      <td><%= link_to image_tag("delete.png"), chronicle_clique_path(clique.chronicle, clique), :confirm => 'Are you sure you want to delete this clique?', :method => :delete if can? :destroy, clique %></td>
    </tr>
  <% end %>
</table>
