<% if show_character?(member) and show_clique?(member) %>
	<tr>
		<td><%= link_to (h member.name), member %></td>
		<td><%= link_to (h member.ideology.name), member.ideology if show_ideology?(member) %></td>
	</tr>
<% end %>