<h3>Chronicle</h3>
<%= select_tag :chronicle_id, options_from_collection_for_select(@chronicles, 'id', 'name', @user.selected_chronicle.id), :remote => true, :action => url_for(:action => 'change_chronicle') %>

<h3>Cliques</h3>
<div id='list'>
  <%= render :partial => 'list' %>
</div>

<%= link_to 'New clique', {:controller => "cliques", :action => "new", :chronicle_id => @user.selected_chronicle.id}, :id => "new_link" %>
