<table>
  <tr>
    <th>Name</th>
    <th>Territory</th>
  </tr>

  <% @cliques.each do |clique| %>
    <tr>
      <td><%= link_to clique.name, clique %></td>
      <td><%= clique.territory %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New clique', new_clique_path %>
