<%= form_tag do %>
  <div>
    <%= label_tag :email_address, "Email address" %>
    <%= text_field_tag :email_address, params[:email_address] %>
  </div>
  
  <%= submit_tag "Send email" %>
<% end %>
