<% form_tag do %>
	<div class="login">
		<h3>Please Log In</h3>
		
		<div>
			<label for="name">Name:</label>
			<%= text_field_tag :name, params[:name], :class => "name" %>
		</div>
		
		<div>
			<label for="password">Password:</label>
			<%= password_field_tag :password, params[:password], :class => "name" %>
		</div>
		
		<div>
			<%= submit_tag "Login", :class => "button" %>
		</div>
		
		<%= link_to "New User", :controller => 'users', :action => 'new' %>
	</div>
<% end %>
