<table>
  <tr>
    <th>Name</th>
  </tr>

  <% cache do %>
    <% @ideologies.each do |ideology| %>
      <tr>
        <td><%= link_to ideology.name, ideology %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<div id="navbar">
        <%= link_to 'New ideology', new_ideology_path, :class => "button" %>
</div>
