<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th></th>
  </tr>

  <% @ideologies.each do |ideology| %>
    <tr>
      <td><%= link_to image_tag("edit.png"), edit_ideology_path(ideology) if ideology.can_edit_as_user?(current_user) %></td>
      <td><%= link_to ideology.name, ideology %></td>
      <td><%= link_to image_tag("delete.png"), ideology, :confirm => 'Are you sure you want to delete this ideology?', :method => :delete if ideology.can_destroy_as_user?(current_user) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New ideology', new_ideology_path if current_user.admin? %>
