<table>
	<tr>
		<th>Name</th>
	</tr>

	<% @ideologies.each do |ideology| %>
		<% if known_ideology?(ideology) %>
			<tr>
				<td><%= link_to (h ideology.name), ideology %></td>
			</tr>
		<% end %>
	<% end %>
</table>

<div id="navbar">
        <%= link_to 'New ideology', new_ideology_path, :class => "button" %>
</div>
