body {
	background: #090233;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   13px;
	line-height: 18px;
}

#column {
	width: 80%;
	max-width: 60em;
	margin: 0 auto;
	padding: 0em 1em;
}

/* top of page header */
#header {
	text-align: center;
	background: #2937A1;
	color: #EEEEEC;
	border: 1px solid black;
	border-bottom: 3px solid #97A2DE;
}


/* menu */
#menu {
	color: #97A2DE;
	list-style: none;
	margin: 0px;
}
#menu li {
	display: inline;
	font-weight: bold;
	position: relative;
}

#menu a {
	color: #97A2DE;
	padding: 0em 1em;
	text-decoration: none;
}
#menu a:hover {
	background: #97A2DE;
	color: #EEEEEC;
	border-bottom: 1px solid #97A2DE;
}
#menu li.selected a {
	background: #97A2DE;
	color: #990033;
	border-bottom: 1px solid #97A2DE;
}
#menu li.selected a:hover { color: #EEEEEC; }

/* drop-down menus */
#menu li ul {
	position: absolute;
	left: -9999px;
	background: #2937A1;
	padding: 0px;
  border: 2px solid #97A2DE;
  text-align: left;
}
#menu ul li {
	display: block;
	white-space: nowrap;
}
#menu li:hover ul { left: 0px; }

/* notice messages */
#notice {
	text-align: center;
	color: #990033;
}

/* page content */
#content {
	color: #333333;
	background: #EEEEEC;
	border: 1px solid black;
	border-top: none;
	padding: 0.5em 4em;
	text-align: justify;
}

#content a {
	text-decoration: none;
	border-style: none;
	color: #2937A1;
}
#content a:hover {
	color: #990033;
	text-decoration: underline;
}

#content a.selected {
	color: #990033;
	text-decoration: none;
}
#content a.selected:hover { background: #EEEEEC; }

#content h3 {
	color: #EEEEEC;
	background: #990033;
	background: url(../images/h3_gradient.svg); background: -webkit-gradient(linear, left top, right top, from(#990033), to(#eeeecc)); background: -moz-linear-gradient(left, #990033, #eeeeec);
	-webkit-border-top-right-radius: 15px; -moz-border-radius-topright: 15px;
	-webkit-border-bottom-right-radius:15px; -moz-border-radius-bottomright: 15px;
	padding: 0.2em 1.5em;
	font-family: serif;
	width: 10em;
	position: relative;
	left: -3.5em;
}

#content label.sized {
	width: 7em;
	text-align: right;
	margin-right: .5em;
	float: left;
}

#content table td.growdown { vertical-align: top; }

#content table.three_cells td { width: 9em; }
#content table.three_cells td:nth-child(3) { width: 36em;}

#content table.four_cells th, table.four_cells td { width: 14em; }

#content table.five_cells th, table.five_cells td { width: 12em; }

#content table.six_cells td { width: 9em; }

#content table.list td { padding: 0px 4px; }

#content input[type="text"], input[type="password"] { width: 9em; }

#content input.number { width: 2em; }
#content input.parent_number { width: 2em; }
#content input.long { width: 36em; }

#content textarea {
	width: 100%;
	height: 5em;
}

.field_with_errors {
  padding: 2px;
  background-color: #990033;
  color: #EEEEEC;
}

#error_explanation {
  width: 400px;
  border: 2px solid #990033;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #990033;
  color: #EEEEEC;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
