body {
	background: #050B39;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   13px;
	line-height: 18px;
}

a { color: #97A2DE; }

#column {
	width: 80%;
	max-width: 60em;
	margin: 0 auto;
	padding: 0em 1em;
}

#header {
	background: #2937A1;
	color: #eeeeec;
	text-align: center;
	border: 1px solid black;
}

#header a { text-decoration: none; }
#header a:hover { border-bottom: 2px solid #97A2DE; }

#notice {
	text-align: center;
	color: green;
}

#content {
	color: #333333;
	background: #eeeeec;
	text-align: justify;
	border: 1px solid black;
	padding: 0.5em 4em;
}

#content a:visited { color: #2743A0; }
#content a:hover { background: #990033; }

#content a.control {
	border: 1px solid #050B39;
	background: #97A2DE;
	color: #333333;
	text-decoration: none;
}
#content a.control:hover { background: #97A2DE; }

#content h3 {
	color: black;
	background: #990033;
	background: url(../images/h3_gradient.svg); background: -webkit-gradient(linear, left top, right top, from(#990033), to(#eeeecc)); background: -moz-linear-gradient(left, #990033, #eeeeec);
	-webkit-border-top-right-radius: 15px; -moz-border-radius-topright: 15px;
	-webkit-border-bottom-right-radius:15px; -moz-border-radius-bottomright: 15px;
	padding: 0.2em 1.5em;
	font-family: serif;
	width: 10em;
	position: relative;
	left: -3.5em;
}

#content label.sized {
	width: 7em;
	text-align: right;
	margin-right: .5em;
	float: left;
}

#content table {
	width: 100%;
}

#content table.scaled td:nth-child(odd) {
	width: 7em;
	text-align: right;
}

#content table.scaled td:nth-child(even) {
	width: 2em;
	text-align: left;
}

#content input[type="text"], input[type="password"] {
	width: 9em;
}

#content input[type="submit"] {
	border: 1px solid #050B39;
	background: #97A2DE;
	color: #333333;
	padding: 0em .5em;
}

#content input.number {
	width: 2em;
}

#content textarea {
	width: 100%;
	height: 9em;
}

#content #character_common_spells {
	height: 19em;
}

#content #character_covenant_disciplines {
	height: 17em;
}

#content #character_gifts {
	height: 8em;
}

.fieldWithErrors {
  padding: 2px;
  background-color: lightblue;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid lightblue;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: navy;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: lightblue;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
