body {
	background: #050B39;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   13px;
	line-height: 18px;
}

#column {
	width: 80%;
	max-width: 60em;
	margin: 0 auto;
	padding: 0em 1em;
}

#header {
	text-align: center;
	background: #2937A1;
	color: #EEEEEC;
	border: 1px solid black;
	border-bottom: 3px solid #97A2DE;
}

#header ul.menu {
	list-style: none;
	margin: 0px;
}
#header ul.menu li {
	display: inline;
	font-weight: bold;
}

#header a {
	color: #97A2DE;
	padding: 0em 1em;
	text-decoration: none;
}
#header a:hover {
	background: #97A2DE;
	color: #EEEEEC;
	border-bottom: 1px solid #97A2DE;
}
#header ul.menu li.selected a {
	background: #97A2DE;
	color: #990033;
	border-bottom: 1px solid #97A2DE;
}
#header ul.menu li.selected a:hover { color: #EEEEEC; }

#notice {
	text-align: center;
	color: green;
}

#content {
	color: #333333;
	background: #EEEEEC;
	border: 1px solid black;
	border-top: none;
	padding: 0.5em 4em;
	text-align: justify;
}

#content a:link { color: #2937A1; }
#content a:visited { color: #97A2DE; }
#content a:hover { background: #990033; }

#content a.button, input[type="submit"] {
	border: 2px outset #97A2DE;
	background: none;
	color: #2937A1;
	font-size: 84%;
	text-decoration: none;
	text-align: center;
	width: 8em;
	padding: 0em .25em;
}
#content a.button:hover, input[type="submit"]:hover {
	background: none;
	border-color: #990033;
}
#content a.button:active, input[type="submit"]:active { border-style: inset; }

#content h3 {
	color: black;
	background: #990033;
	background: url(../images/h3_gradient.svg); background: -webkit-gradient(linear, left top, right top, from(#990033), to(#eeeecc)); background: -moz-linear-gradient(left, #990033, #eeeeec);
	-webkit-border-top-right-radius: 15px; -moz-border-radius-topright: 15px;
	-webkit-border-bottom-right-radius:15px; -moz-border-radius-bottomright: 15px;
	padding: 0.2em 1.5em;
	font-family: serif;
	width: 10em;
	position: relative;
	left: -3.5em;
}

#content label.sized {
	width: 7em;
	text-align: right;
	margin-right: .5em;
	float: left;
}

#content #navbar { text-align: center; }
#content #navbar form { display: inline; }

#content table.three_cells td { width: 9em; }
#content table.three_cells td:nth-child(3) { width: 36em;}

#content table.four_cells th, td { width: 14em; }

#content table.five_cells th, td { width: 12em; }

#content table.six_cells td { width: 9em; }

#content input[type="text"], input[type="password"] { width: 9em; }


#content input.number { width: 2em; }

#content textarea {
	width: 100%;
	height: 9em;
}

#content #character_derangements { height: 15em; }

#content #character_common_spells { height: 19em; }

#content #character_covenant_disciplines { height: 17em; }

#content #character_gifts { height: 8em; }

.fieldWithErrors {
  padding: 2px;
  background-color: #990033;
  color: #EEEEEC;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #990033;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #990033;
  color: #EEEEEC;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
