<p>
  <h3><%= @user.name %></h3>

<table>
  <%= render(:partial => "character", :collection => @user.characters) %>
</table>
</p><br />


<%= link_to 'Edit', edit_user_path(@user) if edit_user?(@user) %>
