<h3><%= @user.name %></h3>

<h3>Viewing Chronicle</h3>
<%= link_to @user.chronicle.name, @user.chronicle %>

<h3>Characters</h3>
<table>
  <%= render(:partial => "character", :collection => @user.characters) %>
</table>
</p><br />


<%= link_to 'Edit', edit_user_path(@user) if edit_user?(@user) %>
