<p>
  <h3><%= @user.name %></h3>

<table>
  <%= render(:partial => "character", :collection => @user.characters) %>
</table>
</p><br />

<div id="navbar">
  <%= link_to 'Back', :back, :class => "button" %>
  <%= link_to 'Edit', edit_user_path(@user), :class => "button" if edit_user?(@user) %>
</div>
