<p>
  <h3><%=h @user.name %></h3>

<table>
	<%= render(:partial => "character", :collection => @user.characters) %>
</table>
</p>

<%= link_to 'Edit', edit_user_path(@user) if edit_user?(@user) %>
<%= link_to 'Back', users_path %>
