<h3><%= @user.name %></h3>

<h3>Viewing Chronicle</h3>
<%= link_to @user.selected_chronicle.name, @user.selected_chronicle %>

<h3>Characters</h3>
<table>
  <%= render(:partial => "character", :collection => @user.characters) %>
</table>
</p><br />


<%= link_to 'Edit', edit_user_path(@user) if @user.can_edit_as_user?(session[:user_id]) %>
