<p>
<table>
  <tr>
    <th>Name</th>
    <th>Clique</th>
    <th>Ideology</th>
  </tr>

<% @characters.each do |character| %>
  <% if show_character?(character) %>
	  <tr>
	    <td><%= link_to character.name, character %></td>
	    <td><%= link_to character.clique.name, character.clique if show_clique?(character) %></td>
	    <td><%= link_to character.ideology.name, character.ideology if show_ideology?(character) %></td>
	  </tr>
  <% end %>
<% end %>
</table>
</p>

<%= link_to 'New character', new_character_path, :class => "button" %><br />
