<table>
  <tr>
    <th>Name</th>
    <th>Clique</th>
    <th>Ideology</th>
  </tr>

  <% @characters.each do |character| %>
    <tr>
      <td><%= link_to character.name, character %></td>
      <td><%= link_to character.clique.name, character.clique if character.show_clique_to_user?(session[:user_id]) %></td>
      <td><%= link_to character.ideology.name, character.ideology if character.show_clique_to_user?(session[:user_id]) %></td>
    </tr>
  <% end %>
</table>

<div id="navbar">
  <%= link_to 'New character', new_character_path, :class => "button" %><br />
</div>
