<table class='list'>
  <tbody>
    <tr>
      <th></th>
      <th>PC Name</th>
      <th>Concept</th>
      <th>Clique</th>
      <th></th>
    </tr>
  </tbody>

  <tbody id="pcs_list">
    <%= render :partial => 'character', :collection => @pcs %>
  </tbody>

  <tbody>
    <tr>
      <th></th>
      <th>NPC Name</th>
      <th>Concept</th>
      <th>Clique</th>
      <th></th>
    </tr>
  </tbody>

  <tbody id="npcs_list">
    <%= render :partial => 'character', :collection => @npcs %>
  </tbody>
</table>

<%= will_paginate @npcs, :renderer => BootstrapPagination::Rails %>

<%= link_to 'New character', new_chronicle_character_path(:chronicle_id => @selected_chronicle.id), :id => "new_link" %><br />
