<% if can? :read, member and can? :read_ideology, member %>
  <tr>
    <td><%= link_to member.name, {:id => member, :chronicle_id => member.chronicle} %></td>
    <td><%= member.concept %></td>
    <td>
		<%= unless member.clique.name == "Solitary"
			link_to member.clique.name, {:id => member.clique, :chronicle_id => member.clique.chronicle_id} if can? :read_clique, member
		else
			member.clique.name 
		end %>
	</td>
  </tr>
<% end %>
