<li>
  <%= select_tag :new_chronicle_id, options_from_collection_for_select(@selected_chronicles, 'id', 'name', @selected_chronicle.id), :remote => true, :action => @action, :class => "navbar-form span3" %>
</li>
