<div id="markdown_tips" class="span3 offset11">
  Text fields now have markdown.
  <br />
  You can make clickable buttons!
  <br />
  [:roll: Attribute + Skill + Power]
  <br />
  [:roll: Attribute + Skill - 3]
  <br />
  [:roll: Attribute + Skill *8-again*]
  <br />
  Other modifiers are 9-again and 1s-cancel
  <br />
  You can add custom stats, merits I'm looking at you!
  <br />
  [:merit: *rating*]
  <br />
  These will be clickable and you can use them in rolls
</div>
